#projects {
  background-color: #e5e5e5;
  padding: 80px 0;
}
#projects h2 {
  display: block;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  margin-after: 0.83em;
  margin-before: 0.83em;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}
#projects h2after {
  bottom: 30px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

.modal-body {
  padding:25px;
}

.modal-header {
  border-bottom: 0px;
  padding-top: 0em;
  padding-bottom: 0;
}

.modal-content {
  margin-top:10vh;
  border-radius: 0px;
  -webkit-box-shadow: px 8px 8px 8px rgba(0,0,0,0.13);
  -moz-box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.13);
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.13);
}

.dark-gray-background {
  background-color: #222222;
}

.dark-gray-font {
  color: #222222 !important;
}

.light-white-font {
  color: #f5f5f5;
}

.container-fluid {
  min-height: 100%;
  padding: 0;
}

.fixed-width {
  max-width: 300px;
  min-width: 300px;
}

#carouselHeader h3 {
  position: relative;
  text-align: center;
}

/* Indicators list style */
.project-slide .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 5px;
  width: 100%;
}

/* Indicators list style */
.project-slide .carousel-indicators li {
  border: 0px solid #000000;
  border-radius: 1;
  float: middle;
  height: 12px;
  margin-bottom: -10px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 12px;
  border-radius: 100%;

  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.carousel-indicators li {
background-color: #ffffff30;
}

.active li {
    background-color: rgba(255,255,255,1) !important;
}

/* Indicators images style */
.project-slide .carousel-indicators img {
  border: 0px solid #b8770d;
  border-radius: 3px;
  float: left;
  height: 35px;
  left: 0;
  width: 50px;
  opacity: 0.5;
}

/* Indicators active image style */
.project-slide .carousel-indicators .active img {
  border: 0px solid #000000;
  opacity: 1;
  background-color: none;
}

/* carousel-control */
.carousel-control {
  color: #ffffff;
  opacity: 0.7;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  opacity: 1;
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: none !important;
  progid: none !important;
}
