body {
  margin: 0;
  background-color: #ebebeb;
    overflow-y:scroll;
}

.grid {
  display: flex;
  padding: 100px .5rem 0 .5rem;
}

.grid-col {
  flex-grow: 1;
}

.grid-comment {
  margin-top: 6px;
  line-height; 1.4;
  width: auto;
}

.grid-text {
  font-family: AmericanTypewriterStd;
  line-height: 1.9rem;
  font-weight: 900;
  font-size: 1.2rem;
}


.category {
  font-size: 1.2rem;
  margin-top: 5px;
margin-bottom: -7px;
}

.grid-item {
  background-color: white;
  color: black;
  margin: .5rem .5rem 1rem .5rem;
  text-align: left;
  font-family: AmericanTypewriterStd;
  line-height: 1.9rem;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 25px;
  transition: transform .15s;
  max-width: 100vw;

  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}

/* 1 column by default, hide columns 2 3 4 */
.grid-col:nth-child(2), .grid-col:nth-child(3), .grid-col:nth-child(4) {
  display: none;
}

/* 2 columns at medium size */
@media (min-width: 660px) and (orientation: landscape) {
  .grid-col:nth-child(2) {
    display: block;
  }

  .grid-text {
    width: 50vw;
  }

  .grid-item {
    max-width: 66vw;
  }

}
/* 4 columns at large size */
@media (min-width: 1080px) and (orientation: landscape) {
.grid-col:nth-child(3),  .grid-col:nth-child(4) {
    display: block;
  }
  .grid-text {
    width: 25vw;
  }

  .grid-item {
    max-width: 33vw;
  }
}

/*
.grid-item:hover {
  transform: scale(1.015);
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.1);
}
*/

.title-feed {
  line-height: 20px;
  text-align: right;
}

/* NAVIGATION */

@font-face {
  font-family: "New Font Regular";
  src: url("fonts/ritaroslin.ttf");
}

@font-face {
  font-family: "AmericanTypewriterStd";
  src: url("fonts/AmericanTypewriterStd-Light.otf");
}

/* header */

.header {
  width: 100%;
  z-index: 3;
  position: absolute;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
color: black;
font-family: New Font Regular;
font-size:4rem;
line-height: 4rem;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #6f6f6f;
}

.header .logo {
  display: block;
  float: left;
  width:45vw;
  max-width:200px;
  padding: 15px 20px;
}

/* menu */

.header .menu {

  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 45px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #000000;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 36px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  z-index: 2;
}

.header .menu-icon .navicon:before {
  top: 12px;
}

.header .menu-icon .navicon:after {
  top: -12px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
  height: 100%;
  width:100%;
  background-color: white;
  position:fixed;
  text-align:center;
  padding-top: 30%;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media screen and (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    font-size:3rem;
    line-height: 3rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .header .logo {
    padding: 10px 20px;
  }

  .grid-item {
    line-height: 1.4;
    font-size: 2rem;
  }

  .grid-comment {
    margin-top: 14px;
    margin-bottom: -5px;
    line-height: 1.4;
    width: auto;
  }
}

.modal {
  z-index:1;
  display:none;
  padding-top:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8)
}

.modal-content{
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
