body {
    margin: 0;
    background-color: #ebebeb !important;
    overflow-y: scroll;
}

.grid-title {
    margin-top: 0.8em;
    line-height;
    1.4;
    width: auto;
    display: inline-block;
}

.grid-text {
    font-family: AmericanTypewriterStd;
    line-height: 1.5em;
    font-weight: 900;
    font-size: 1.2em;
}

.title {
    margin: 0;
    line-height: 1.3em;
    transform: translateY(5px);
}

.category {
    font-size: 0.7em;
    margin: 0;
    display: inline-block;
    transform: translateY(7px);
}

@font-face {
    font-family: "New Font Regular";
    src: url("fonts/ritaroslin.ttf");
}

@font-face {
    font-family: "AmericanTypewriterStd";
    src: url("fonts/AmericanTypewriterStd-Light.otf");
}


/* NAVIGATION */

.nav {
    width: 100%;
    position: relative;
    padding: 2vw !important;
    padding-top: 1.5vw !important;
    padding-bottom: 0 !important;
    line-height: 1;
    margin-bottom: 1.5vw !important;
    margin-top: 15px;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-family: New Font Regular;
    font-size: 3.3em;
    margin-top: -5px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000
}

.nav > .nav-links > a:hover {
    color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

.logo {
    width: 190px;
    margin-left: 0.3vw;
}

.video-wrap {
    position: relative;
    max-height: 535px;
    max-width: 960px;
    height: 54vw;
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 535px;
}

.modal-single {
    z-index: 1;
    display: none;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8)
}

.modal-content-single {
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    text-decoration: none;
    float: right;
    font-size: 50px;
    font-weight: bold;
    color: #fff !important;
    right: -30px;
    top: 10px;
    z-index: 6;
    position: fixed;
    opacity: 0.6 !important;
}

.modal-content-single,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0s;
}

#modal-img {
    max-width: 67vh
}

@media screen and (max-width: 48em) {
    #modal-img {
        max-width: 98vw;
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* MASONRY GRID */

.masonry {
    /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 2.5vw;
    margin-top: 0px;
    padding: 0;
    padding-top: 1px;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}

.grid-item {
    padding: 25px;
    margin-top: 0.1em !important;
    margin-bottom: 1.61rem;
    width: 100%;
    box-sizing: border-box;
    color: black;
    text-align: left;
    font-family: AmericanTypewriterStd;
    font-weight: 900;
    line-height: 1.4;
    font-size: 1.4em;
    transition: all 0.15s ease-in-out;
    max-width: 100vw;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-item::after {
    transform: translateZ(0);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-item:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}

.grid-item:hover::after {
    opacity: 1;
}

.grid-item img {
    max-width: 100%;
}


/* MEDIA QUERYS */

@media only screen and (max-width: 519px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .logo {
        width: 150px;
    }
    .nav > .nav-btn {
        display: inline-block;
        float: right;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 40px;
        height: 38px;
        padding: 13px;
        padding-top: 8px;
    }
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {}
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #000000
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 75px;
        left: 0px;
        padding-top: 1.5em;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        z-index: 1;
        background-color: #ebebeb;
    }
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .nav > .nav-links {
        font-size: 3.5em;
        margin-top: -10px;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
    .nav > .nav-links {
        font-size: 4em;
        margin-top: -15px;
    }
}
