body {
  margin: 0;
  background-color: #ebebeb;
    overflow-y:scroll;
}

.grid {
  display: flex;
  padding: .5rem .5rem 0 .5rem;
}

.grid-col {
  flex-grow: 1;
}

.grid-comment {
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.4;
  width: auto;
}

.grid-item {
  background-color: white;
  color: black;
  margin: .5rem .5rem 1rem .5rem;
  text-align: left;
  font-family: AmericanTypewriterStd;
  line-height: 30px;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 25px;
  transition: transform .15s;
  max-width: 100vw;
}

/* 1 column by default, hide columns 2 3 4 */
.grid-col:nth-child(2), .grid-col:nth-child(3), .grid-col:nth-child(4) {
  display: none;
}

/* 2 columns at medium size */
@media (min-width: 660px) {
  .grid-col:nth-child(2) {
    display: block;
  }

  .grid-text {
    width: 50vw;
  }

  .grid-item {
    max-width: 66vw;
  }

}
/* 4 columns at large size */
@media (min-width: 1080px) and (orientation: landscape) {
.grid-col:nth-child(3),  .grid-col:nth-child(4) {
    display: block;
  }
  .grid-text {
    width: 25vw;
  }

  .grid-item {
    max-width: 33vw;
  }
}

.grid-item:hover {
  transform: scale(1.03);
}

.title-feed {
  line-height: 20px;
  text-align: right;
}

/* NAVIGATION */

@font-face {
  font-family: "New Font Regular";
  src: url("fonts/ritaroslin.ttf");
}

@font-face {
  font-family: "AmericanTypewriterStd";
  src: url("fonts/AmericanTypewriterStd-Light.otf");
}

.logo{
  margin-top: 20px;
}

header {
  color: black;
  display: grid;
  padding: 0px 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}
header .nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;
}
header .nav li a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 15px;
  color: black;
  font-size: 45px;
  font-family: New Font Regular;
}
header .nav li::after {
  transition: transform .15s;
}
header .nav li:hover {
  transform: scale(1.1);
}

header .nav li:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  padding: 1em;
  position: absolute;
  top: 1rem;
  right: .5em;
  cursor: pointer;
  grid-area: menu;
  margin-top: 16px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: black;
  height: 4px;
  width: 2em;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-10px);
}

.hamburger::after {
  transform: translateY(6px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media all and (max-width: 768px) {
  header .nav li a {
    font-size: 80px;
  }
  .nav {
    padding: 0;
    margin-left: 0.5%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 96.5%;
    height: 80%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    clip-path: circle(0px at top right);
    justify-content: center !important;
  }
  .nav li {
    padding: 20px 0px;
  }
  .nav li a {
    color: #ffffff;
  }
  .nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ebebeb;
  }
  .nav li:hover::after {
    width: 100%;
  }

  .mobile-nav {
    clip-path: circle(250% at top right);
  }

  .menu-toggle {
    display: block;
  }
}

.modal {
  z-index:1;
  display:none;
  padding-top:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8)
}

.modal-content{
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
