@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif&display=swap');

/* GLOBAL */

body {
    color: white;
    background-color: #13131C;
    font-family: 'Lora', serif;
    overflow-y:scroll;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.banner {
    background-color: #1F2029;
    margin-bottom: 0.5em;
    padding-top: 0.7em;
    padding-bottom: 0.3em;
}

.mainContainer {
    max-width: 1100px;
    margin: auto;
}

.contentContainer {
    margin-bottom: 0.5em;
}

.imgContent 
{
    gap: 0.5em;
}

.spacing {
    width:100%;
    height: 1em;
}

.h1 {
    font-weight: bold;
    letter-spacing: 0.055em;
}

.content img {
    float: right;
    margin-top: 1em;
}

.contentContainer {
    background-color: #1F2029;
}

.roundCorners {
    border-radius: 0.15em;
    }

    .treatment {


    }

    .treatmentImage {
        background-repeat: no-repeat, repeat;
        display: flex;
        align-items: center;
        justify-content: center 
    }

    .treatmentText{
        line-height: 142%;
    }


/* DESKTOP */

@media screen and (min-width: 768px) 
{
    .contentContainer {
        padding: 3em;
    }

    .imgContent 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .treatmentImage {
        height: 210px;
    }


    .description{
        column-count: 2;
        gap:0.9em;
        font-size: 0.95em;
    }

    .quarterImage {
        width:50%;
    }

    .h1 {
        font-size: 1.55em;
        line-height: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .contact {
        font-size: 1.25em;
    }

    .treatmentText {
        width:96%;
    }

    .mobileSpacing {
        width:100%;
        height: 0em;
    }

}

/* MOBILE */

@media screen and (max-width: 767px) 
{
    .contentContainer {
        padding: 2em;
    }

    .imgContent 
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .treatmentImage {
        height: 190px;
    }

    .description{
        column-count: 1;
        font-size: 0.95em;
    }

    .quarterImage {
        width:100%;
    }

    .h1 {
        font-size: 1.3em;
        line-height: 0;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    .contact {
        font-size: 0.95em;
    }

    .treatmentText {
        width:100%;
    }

    .mobileSpacing {
        width:100%;
        height: 1em;
    }

}

